@import url('https://fonts.googleapis.com/css2?family=Lato');


*{
    margin: 0;
    padding: 0;
}

:root{
    --color1: #0f132e;
    --color2: #19274e;
    --color3: #536d88;
    --color4: #b49b85;
    --color5: #eac195;
    --color6: #ffffff;
}


body{
    background-color: var(--color3);
    height: 100vh;
    font-family: 'Lato';
}

header{
    display: flex; /*alinha os itens lado a lado*/
    align-items: center; /*alinha ao centro*/
    gap: 2rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--color1);
    min-height: 50px;
}

.box-img-header{
    height: 100%;
    margin-left: 1rem;
}

.img-logo{
    max-width: 50px;
    height: 100%;
    border-radius: 5px;
}

nav{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0.5;
    font-size: 1.2rem;
}

.nav-links{
    text-decoration: none;
    color: var(--color6);
}

.nav-links:hover{
    color: rgb(223, 106, 252);
    transition: .4s;
    text-underline-offset: 5px; /*espaço entre o underline e o link*/
}



